@model P2005_Employee_Skills_Portal.Models.StaffPages
@using Syncfusion.EJ2
@using Newtonsoft.Json

<div id="aclassDialog"></div>
<div class="container" style="width:100%;  padding:5px">
    <div class="accordion" id="myAccordion">

        <div class="card">
            <div class="card-header" id="ActivityTimelines">
                <h2 class="mb-0">
                    <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#collapseOne">
                        Section 1. Staff Personal Information Details Tab
                    </button>
                </h2>
            </div>
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#myAccordion">
                <div class="card-body">
                    <div id="Timelines">
                        <div class="panel-body">
                            <hr />
                            <div class="row material2">
                                <div class="col-xs-3 col-sm-3 col-lg-3 col-md-3">
                                    <ejs-textbox id="IndexNumber" cssClass="e-outline" value="@Model.IndexNumber" ejs-for="IndexNumber" placeholder="Index Number" enabled="true" floatLabelType="Always" type="text"></ejs-textbox>
                                </div>
                                <div class="col-xs-3 col-sm-3 col-lg-3 col-md-3">
                                    <ejs-textbox id="FullNames" cssClass="e-outline" value="@Model.FullNames" ejs-for="IndexNumber" placeholder="Full Names" enabled="true" floatLabelType="Always" type="text"></ejs-textbox>
                                </div>
                                <div class="col-xs-3 col-sm-3 col-lg-3 col-md-3">
                                    <ejs-textbox id="Email" cssClass="e-outline" value="@Model.Email" ejs-for="Email" placeholder="Email" enabled="true" floatLabelType="Always" type="text"></ejs-textbox>
                                </div>
                                <div class="col-xs-3 col-sm-3 col-lg-3 col-md-3">
                                    <ejs-textbox id="CurrentLocation" ejs-for="CurrentLocation" value="@Model.CurrentLocation" cssClass="e-outline" placeholder="Current Location" floatLabelType="Always" type="text"></ejs-textbox>
                                </div>
                            </div>
                            <hr />
                            <div class="row material2">
                               
                                <div class="col-xs-3 col-sm-3 col-lg-3 col-md-3">
                                    <ejs-combobox allowCustom="true" id="HighestLevelOfEducation" ejs-for="HighestLevelOfEducation" value="@Model.HighestLevelOfEducation" cssClass="e-outline" dataSource="@ViewBag.education" placeholder="Highest Level Of Education" allowFiltering="true" enabled="true" floatLabelType="Auto" popupHeight="300px">
                                    </ejs-combobox>
                                </div>
                                <div class="col-xs-3 col-sm-3 col-lg-3 col-md-3">
                                    <ejs-combobox allowCustom="true" id="DutyStation" ejs-for="DutyStation" value="@Model.DutyStation" cssClass="e-outline" dataSource="@ViewBag.DutyStation" placeholder="Duty Station" allowFiltering="true" enabled="true" floatLabelType="Auto" popupHeight="300px">
                                    </ejs-combobox>
                                </div>
                                <div class="col-xs-3 col-sm-3 col-lg-3 col-md-3">
                                    <h6>Availability For RemoteWork ?</h6>
                                    <ejs-radiobutton id="YesAvailabile" cssClass="e-outline" label="Yes" value="True" ejs-for="AvailabilityForRemoteWork"></ejs-radiobutton>
                                    <ejs-radiobutton id="NoAvailabile" cssClass="e-outline" label="No" value="False" ejs-for="AvailabilityForRemoteWork"></ejs-radiobutton>
                                </div>
                            </div>
                            <hr />
                            <div class="row material2">
                               
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header" id="Report">
                <h2 class="mb-0">
                    <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse4">Section 2. Staff Examples of Projects Tab</button>
                </h2>
            </div>
            <div id="collapse4" class="collapse" aria-labelledby="heading4" data-parent="#myAccordion">
                <div class="card-body">
                    <div id="Report">
                        <div class="panel-body">
                            <hr />
                            <div class="row material2">
                                <div class="col-xs-3 col-sm-3 col-lg-3 col-md-3">
                                    <ejs-textbox id="ProjectTitle" cssClass="e-outline" value="@Model.ProjectTitle" ejs-for="ProjectTitle" placeholder="Project Title" enabled="true" floatLabelType="Always" type="text"></ejs-textbox>
                                </div>
                                <div class="col-xs-3 col-sm-3 col-lg-3 col-md-3">
                                    <ejs-textbox id="Location" cssClass="e-outline" value="@Model.Location" ejs-for="Location" placeholder="Location" enabled="true" floatLabelType="Always" type="text"></ejs-textbox>
                                </div>
                                <div class="col-xs-3 col-sm-3 col-lg-3 col-md-3">
                                    <ejs-textbox id="LevelofResponsibility" cssClass="e-outline" value="@Model.LevelofResponsibility" ejs-for="LevelofResponsibility" placeholder="Level of Responsibility" enabled="true" floatLabelType="Always" type="text"></ejs-textbox>
                                </div>
                                <div class="col-xs-3 col-sm-3 col-lg-3 col-md-3">
                                    <ejs-textbox id="Description" ejs-for="Description" value="@Model.Description" cssClass="e-outline" placeholder="Description" floatLabelType="Always" type="text"></ejs-textbox>
                                </div>
                            </div>
                            
                            <hr />
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header" id="Supervisor_Comments">
                <h2 class="mb-0">
                    <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThreelanguage">Section 3. Staff Software Expertise Tab</button>
                </h2>
            </div>
            <div id="collapseThreelanguage" class="collapse " aria-labelledby="heading4" data-parent="#myAccordion">
                <div class="card-body">
                    <div id="Supervisor_Comments">
                        <div class="panel-body">
                            <div class="row material2">
                                <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                                    <ejs-combobox allowCustom="true" id="SoftwareExpertise" ejs-for="SoftwareExpertise" value="@Model.SoftwareExpertise" cssClass="e-outline" dataSource="@ViewBag.Expertise" placeholder="Software Expertise" allowFiltering="true" enabled="true" floatLabelType="Auto" popupHeight="300px">
                                    </ejs-combobox>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                                    <ejs-combobox allowCustom="true" id="SoftwareExpertiseLevel" ejs-for="SoftwareExpertiseLevel" value="@Model.SoftwareExpertiseLevel" cssClass="e-outline" dataSource="@ViewBag.Level" placeholder="Software Expertise Level" allowFiltering="true" enabled="true" floatLabelType="Auto" popupHeight="300px">
                                    </ejs-combobox>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header" id="language">
                <h2 class="mb-0">
                    <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThreelanguage">Section 4. Staff Languages Tab</button>
                </h2>
            </div>
            <div id="collapseThreelanguage" class="collapse " aria-labelledby="heading4" data-parent="#myAccordion">
                <div class="card-body">
                    <div id="Supervisor_Comments">
                        <div class="panel-body">
                            <div class="row material2">
                                <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                                    <ejs-combobox allowCustom="true" id="Language" ejs-for="Language" value="@Model.Language" cssClass="e-outline" dataSource="@ViewBag.Language" placeholder="Language" allowFiltering="true" enabled="true" floatLabelType="Auto" popupHeight="300px">
                                    </ejs-combobox>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                                    <ejs-combobox allowCustom="true" id="LanguageLevelofResponsibility" ejs-for="LanguageLevelofResponsibility" value="@Model.LanguageLevelofResponsibility" cssClass="e-outline" dataSource="@ViewBag.Responsibility" placeholder="Level of Responsibility" allowFiltering="true" enabled="true" floatLabelType="Auto" popupHeight="300px">
                                    </ejs-combobox>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ejs-scripts></ejs-scripts>
<script id='dialogtemplate' type="text/x-template">
    <div id="dialogTemp">
    </div>
</script>
<script>
    function onFileRemove(args) {
        args.postRawFile = false;
    }
</script>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

<style>
    .dialogClass {
        color: white;
    }
</style>
<style>
    .panel-default > .panel-heading {
        background-color: #56ad61;
        color: white;
    }
</style>

<style>
    #Grid_dialogEdit_wrapper {
        min-height: 90%;
        min-width: 90%;
    }
</style>
